:root{
    --pixel: 40px
}

.color{
    display: inline-block;
    border: black solid 1px;
    width: 100px;
    height: 100px;
}

#button-random-color{
    display: inline-block;
}

#pixel-board{
    display: grid;
    grid-template-columns: var(--pixel) var(--pixel) var(--pixel) var(--pixel) var(--pixel);
    grid-template-rows: var(--pixel) var(--pixel) var(--pixel) var(--pixel) var(--pixel);
}

.pixel{
    width: var(--pixel);
    height: var(--pixel);
    border: black solid 1px;
    background-color: white;
}

