.color{
    display: inline-block;
    border: black solid 1px;
    width: 100px;
    height: 100px;
}

#button-random-color{
    display: inline-block;
}

#pixel-board{
    width: 40px;
    
}
.pixel{
    width: 5px;
    height: 5px;
    border: black solid .1px;
    display: inline-block;
    background-color: white;
}
